<h2>Follower Users</h2>
<% if @users.exists? %>
  <%= render '/users/index', users: @users %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>

<!-- 条件式if @users.exists?は、@usersに1つ以上のユーザーオブジェクトがある場合には、
　　指定したパーシャルである/users/indexをレンダリングし、そのパーシャルに@usersを渡します。
　　そして、else節には、@usersが空の場合に表示されるメッセージ<p>ユーザーはいません</p>が含まれます。-->